@import 'reset.css';
*{
    box-sizing: border-box;
}

body{
 background-color: blanchedalmond;
}
h3{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: floralwhite;
    font-family: sans-serif;
    margin: 20px 0 10px 0;
}
input{
    margin: 10px;
}
.form_sum{
    width: 500px;
    height: 350px;
    background-color: cadetblue;
    position: absolute;
	width: 600px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
    padding: 20px 50px;
}
.form{
    display: flex;
    flex-direction: column;
}
.button{
    width: 150px;
}
